<!doctype html>
<html>
<head>
	<title>Concarneau</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<link rel="apple-touch-icon" href="/content/images/tiles/base-game/RCr.png">
	<link rel="apple-touch-startup-image" href="/content/images/ui/bg.jpg">
	<link rel="shortcut icon" href="/content/images/ui/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/content/images/ui/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/content/css/bootstrap.3.0.2.min.css">
	<style>
		body { padding-top: 40px; }

		@media (min-width: 768px) {
			body { padding-top: 80px; }
		}
		
		.fa-user, .fa-facebook, .fa-twitter, .fa-google {
			top: 2px;
			position: relative;
			width: 16px;
			height: 16px;
		}

		.privacy-link {
			font-size: small;
			float: right;
			background-color: rgb(238, 238, 238);
			border-radius: 6px;
			padding: 8px;
			width: fit-content;
		}

		.tooltip-wrapper {
			display: inline-block;
		}

		/* Add this attribute to the element that needs a tooltip */
		[data-tooltip] {
			position: relative;
			z-index: 2;
			cursor: pointer;
		}

		/* Hide the tooltip content by default */
		[data-tooltip]:before,
		[data-tooltip]:after {
			visibility: hidden;
			opacity: 0;
			pointer-events: none;
		}

		/* Position tooltip above the element */
		[data-tooltip]:before {
			position: absolute;
			bottom: 100%;
			left: 50%;
			margin-bottom: 5px;
			margin-left: -80px;
			padding: 7px;
			width: 300px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			background-color: #000;
			color: #fff;
			content: attr(data-tooltip);
			text-align: center;
			font-size: 14px;
			line-height: 1.2;
		}

		/* Triangle hack to make tooltip look like a speech bubble */
		[data-tooltip]:after {
			position: absolute;
			bottom: 100%;
			left: 50%;
			margin-left: -5px;
			width: 0;
			border-top: 5px solid #000;
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
			content: " ";
			font-size: 0;
			line-height: 0;
		}

		/* Show tooltip content on hover */
		[data-tooltip]:hover:before,
		[data-tooltip]:hover:after {
			visibility: visible;
			opacity: 1;
		}
	</style>
</head>
<body background="/content/images/ui/bg.jpg">
<%- include ("../content/images/ui/icons.svg") %>
<div class="container">
	<div class="jumbotron text-center">
		<h1>Concarneau</h1>
		<p>An <a href="https://github.com/btouellette/concarneau">implementation</a> of <a href="https://en.wikipedia.org/wiki/Carcassonne_(board_game)">Carcassonne</a> using <a href="https://d3js.org">D3.js</a> and <a href="https://nodejs.org">Node.js</a> created by <span id="author-name">Brian Ouellette</span></p>
		<p>Unfamiliar with Carcassonne? You can read the rules <a href="https://images.zmangames.com/filer_public/d5/20/d5208d61-8583-478b-a06d-b49fc9cd7aaa/zm7810_carcassonne_rules.pdf">here</a></p>
		<a href="/login" class="btn btn-default"><svg class="fa-user"><use xlink:href="#fa-user"></use></svg> Local Login</a>
		<a href="/signup" class="btn btn-default"><svg class="fa-user"><use xlink:href="#fa-user"></use></svg> Local Signup</a>
		<a href="/auth/twitter" class="btn btn-info"><svg class="fa-twitter" fill="white"><use xlink:href="#fa-twitter"></use></svg> Twitter</a>
		<a href="/auth/google" class="btn btn-danger"><svg class="fa-google" fill="white"><use xlink:href="#fa-google"></use></svg> Google</a>
		<div class="tooltip-wrapper" data-tooltip="Meta is no longer providing Facebook login for non-business apps. Please login with a different linked account or request a password reset to your Facebook email via local login to regain access."><a disabled class="btn btn-primary"><svg class="fa-facebook" fill="white"><use xlink:href="#fa-facebook"></use></svg> Facebook</a></div>
	</div>
	<div class="privacy-link">
		<a href="https://docs.google.com/document/d/1VLUBQsC2JbmLKAO-8xyxeyAfDzbUSoEQGtfxO65WjQY/edit?usp=sharing">Privacy Policy</a>
	</div>
</div>
<script src="/content/js/standalone.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
$(document).ready(function() {
	// maybe avoid getting some spam with this
	$('#author-name').replaceWith('<a href="mailto:' + 'btouellette+concarneau' + '@' + 'gmail.com' + '">Brian Ouellette</a>');
});
</script>
</body>
</html>
