<!doctype html>
<html>
<head>
	<title>Concarneau</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<link rel="apple-touch-icon" href="/content/images/tiles/base-game/RCr.png">
	<link rel="apple-touch-startup-image" href="/content/images/ui/bg.jpg">
	<link rel="shortcut icon" href="/content/images/ui/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/content/images/ui/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/content/css/bootstrap.3.0.2.min.css">
	<style>
		body { padding-top: 40px; }

		@media (min-width: 768px) {
			body { padding-top: 80px; }
		}
		
		.fa-user, .fa-facebook, .fa-twitter, .fa-google-plus {
			top: 2px;
			position: relative;
			width: 16px;
			height: 16px;
		}
	</style>
</head>
<body background="/content/images/ui/bg.jpg">
<div class="container">
	<div class="jumbotron text-center">
		<h1>Concarneau</h1>
		<p>An <a href="http://github.com/btouellette/concarneau">implementation</a> of <a href="https://en.wikipedia.org/wiki/Carcassonne_(board_game)">Carcassonne</a> using <a href="http://d3js.org">D3.js</a> and <a href="http://nodejs.org">Node.js</a> created by <span id="author-name">Brian Ouellette</span></p>
		<p>Unfamiliar with Carcassonne? You can read the rules <a href="http://riograndegames.com/uploads/Game/Game_48_gameRules.pdf">here</a></p>
		<a href="/login" class="btn btn-default"><svg class="fa-user"><use xlink:href="/content/images/ui/icons.svg#fa-user"></use></svg> Local Login</a>
		<a href="/signup" class="btn btn-default"><svg class="fa-user"><use xlink:href="/content/images/ui/icons.svg#fa-user"></use></svg> Local Signup</a>
		<a href="/auth/facebook" class="btn btn-primary"><svg class="fa-facebook" fill="white"><use xlink:href="/content/images/ui/icons.svg#fa-facebook"></use></svg> Facebook</a>
		<a href="/auth/twitter" class="btn btn-info"><svg class="fa-twitter" fill="white"><use xlink:href="/content/images/ui/icons.svg#fa-twitter"></use></svg> Twitter</a>
		<a href="/auth/google" class="btn btn-danger"><svg class="fa-google-plus" fill="white"><use xlink:href="/content/images/ui/icons.svg#fa-google-plus"></use></svg> Google+</a>
	</div>
</div>
<script src="/content/js/standalone.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-50702481-1', 'concarneau.herokuapp.com');
  ga('send', 'pageview');

$(document).ready(function() {
	// maybe avoid getting some spam with this
	$('#author-name').replaceWith('<a href="mailto:' + 'btouellette+concarneau' + '@' + 'gmail.com' + '">Brian Ouellette</a>');
});
</script>
</body>
</html>
