<!doctype html>
<html>
<head>
	<title>Concarneau</title>
	<style>
		.jumbotron {
      font-size: 14px;
      background-color: white;
    }
	</style>
</head>
<body>
<div class="container">
<div class="jumbotron">
  <p>Your password has been reset on <a href="<%= serverURL %>">Concarneau</a>.</p>
</div>
</div>
</body>
</html>
