<!doctype html>
<html>
<head>
	<title>Concarneau</title>
	<style>
    .container {
      background-image: url("<%= serverURL %>/content/images/ui/bg.jpg");
    }
		.jumbotron {
      font-size: 14px;
      background-color: white;
    }
	</style>
</head>
<body>
<div class="container">
<div class="jumbotron">
	<p>Forgot your password?</p>
	<hr>
  <p>You recently requested a password reset on Concarneau.</p>
  <a href="<%= serverURL + '/reset?prt=' + passwordResetToken %>" class="button">Reset password</a>
  <p>(Link valid for 12 hours))</p>
</div>
</div>
</body>
</html>
