<!doctype html>
<html>
<head>
	<title>Concarneau</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<link rel="apple-touch-icon" href="/content/images/tiles/base-game/RCr.png">
	<link rel="apple-touch-startup-image" href="/content/images/ui/bg.jpg">
	<link rel="shortcut icon" href="/content/images/ui/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/content/images/ui/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/content/css/bootstrap.3.0.2.min.css">
	<style>
		body { padding-top: 40px; }
		.jumbotron { font-size: 14px; }
		.jumbotron h1 { font-size: 36px; }

		@media (min-width: 768px) {
			body { padding-top: 80px; }
		}

		.fa-sign-in {
			top: 4px;
			position: relative;
			width: 34px;
			height: 34px;
		}
	</style>
</head>
<body background="/content/images/ui/bg.jpg">
<%- include ("../content/images/ui/icons.svg") %>
<div class="container">
<div class="jumbotron">
	<h1><svg class="fa-sign-in"><use xlink:href="#fa-sign-in"></use></svg> Reset password</h1>

	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- PASSWORD RESET FORM -->
	<form action="/reset" method="post">
		<div class="form-group">
			<label>Enter email:</label>
			<input type="email" class="form-control" name="email">
			<label>Enter new password</label>
			<input type="password" class="form-control" name="password">
			<input type="hidden" name="prt" value="<%= passwordResetToken %>">
		</div>
		<button type="submit" class="btn btn-warning btn-lg">Reset</button>
	</form>

	<hr>
	<p>Or go <a href="/">home</a>.</p>
</div>
</div>
<script src="/content/js/standalone.js"></script>
</body>
</html>
