<!doctype html>
<html>
<head>
	<title>Concarneau</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<link rel="apple-touch-icon" href="/content/images/tiles/base-game/RCr.png">
	<link rel="apple-touch-startup-image" href="/content/images/ui/bg.jpg">
	<link rel="shortcut icon" href="/content/images/ui/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/content/images/ui/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/content/css/bootstrap.3.0.2.min.css">
	<style>
		body { padding-top: 40px; }
		.jumbotron { font-size: 14px; }
		.jumbotron h1 { font-size: 36px; }

		@media (min-width: 768px) {
			body { padding-top: 80px; }
		}
		
		.fa-sign-in {
			top: 4px;
			position: relative;
			width: 34px;
			height: 34px;
		}
	</style>
</head>
<body background="/content/images/ui/bg.jpg">
<div class="container">
<div class="jumbotron">
	<h1><svg class="fa-sign-in"><use xlink:href="/content/images/ui/icons.svg#fa-sign-in"></use></svg> Signup</h1>

	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/signup" method="post">
		<div class="form-group">
			<label>Email</label>
			<input type="email" class="form-control" name="email">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>
		<button type="submit" class="btn btn-warning btn-lg">Signup</button>
	</form>

	<hr>
	<p>Passwords are <a href="https://en.wikipedia.org/wiki/Cryptographic_hash_function#Password_verification">hashed</a> and <a href="https://en.wikipedia.org/wiki/Salt_(cryptography)">salted</a> before being stored.</p>
	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>
</div>
</div>
<script src="/content/js/standalone.js"></script>
</body>
</html>
